.mon-bien-page {
  display: flex;
  background-color: #fff;
  width: 80%;
  gap: 2rem;
}

.evaluation-section {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}

.mon-bien-page select,
.mon-bien-page input {
  color: black;
  margin-bottom: 1rem;
  margin-top: 1rem;
  height: 50px;
}
.mon-bien-page h1 {
  font-size: 25px;
  font-family: "Nunito", sans-serif;
  color: #424e5b;
}

.mon-bien-page input,
.mon-bien-page select {
  border-radius: 10px;
  background-color: hsl(0, 0%, 93%);
  padding: 10px;
}

.first-row-info select {
  /* display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 20px; */
  margin-right: 0.8rem;

  border: none;
}
.wrap-sl-info-bien {
  display: flex;
  flex-direction: column;
  margin-right: 10px; /* Espacement entre les éléments */
  font-size: 20px;
  font-size: 20px;
}
.twofirst-select {
  display: flex;
  margin-bottom: 0.8rem;
}
.wrap-sl-donnee {
  display: flex;
  flex-direction: column; /* Affichage en colonne */
  align-items: center; /* Centrer les éléments horizontalement */
  font-size: 20px;
}
.inp-nom-prenom,
.inp-mail-numb {
  display: flex;
  font-size: 20px;
}
.inp-nom-prenom input,
.inp-mail-numb input {
  margin-right: 10px; /* Espacement entre les éléments */
  font-size: 20px;
}
.info-bien-sl {
  padding: 10px;
}
.wrap-sl-info-bien,
.mon-bien-page,
.info-bien-sl,
.inp-nom-prenom,
.inp-mail-numb,
.partie {
  /* color: #808080; */
  font-size: 20px;
}
.sl-typologie {
  font-size: 20px;
  padding: 10px;
}
.agence {
  font-size: 20px;
  padding: 10px;
}
.message {
  font-size: 20px;
  width: 900px;
  height: 100px;
  padding: 10px;
}
.sl-agence {
  width: 95%;
}
.sl-agence select {
  width: 100%;
  border: none;
}
.second-row-donne input {
  border: none;
  width: 45%;
}
.second-row-donne h1 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.twofirst-select select {
  width: 47%;
}
textarea::placeholder,
.mon-bien-page input::placeholder {
  color: grey;
}
.submit-query-wrap {
  position: relative;
  height: 40px;
}
.button-vld {
  position: relative;
  /* border: 5px solid; */
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.button-vld input {
  border: none;
  width: clamp(100px, 88%, 200px);
  transition: all 0.3s ease;
  height: 40px;
  /* position: absolute; */
  border-radius: 20px;
  background: hsl(0, 0%, 85%);
  background: hsl(0, 0%, 90%);
  font-size: 20px;
  margin: 0;
}
.button-vld span {
  opacity: 0;
  padding: 10px;
  color: red;
}

.button-vld input:hover {
  background-color: #158140;
  color: white;
  box-shadow: 0 0 14px rgba(66, 78, 91, 0.58) !important;
}

/* toast not  */
#toast {
  border-radius: 10px;
  visibility: hidden;
  max-width: 350px;
  height: 350px;
  /*margin-left: -125px;*/
  margin: auto;
  background-color: hsl(0, 0%, 97%);
  color: #000;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0 0 10px #999;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 330px;
  font-size: 17px;
  white-space: nowrap;
}
#toast #img {
  /* width: 50px;
  height: 50px; */

  /* float: left; */
  padding-top: 16px;
  padding-bottom: 16px;

  box-sizing: border-box;

  /* background-color: green; */
  color: #fff;
}
#toast #desc {
  color: #000;

  padding: 16px;
  font-size: 1.4rem;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
}

#toast.show {
  /* visibility: visible;
  -webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 2s,
    fadeout 0.5s 2.5s;
  animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s,
    fadeout 0.5s 4.5s; */
  visibility: visible;
  -webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 2s,
    fodeout 1s 2.2s;
  animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s,
    fadeout 1s 2.2s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 330px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 330px;
    opacity: 1;
  }
}

@-webkit-keyframes stay {
  from {
    min-width: 350px;
  }
  to {
    min-width: 350px;
  }
}

@keyframes stay {
  from {
    min-width: 350px;
  }
  to {
    min-width: 350px;
  }
}

@keyframes shrink {
  from {
    min-width: 350px;
  }
  to {
    min-width: 50px;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 330px;
    opacity: 1;
  }
  to {
    bottom: 60px;
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    bottom: 330px;
    opacity: 1;
  }
  to {
    bottom: 60px;
    opacity: 0;
  }
}
.sec-eval {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
.titreEval {
  padding-top: 5rem;
  text-align: center;
}
.first-row-info h1 {
  margin-bottom: 1rem;
}
.evaluer {
  display: flex;
  gap: 1rem;
  width: 30%;
}
.Text {
  text-align: left;
  /* margin-top: 5rem; */
  width: 100%;
}
.Text h1 {
  margin-bottom: 1rem;
  font-weight: 700;
}
.Text p {
  font-weight: 10;
  font-size: 20px;
  line-height: 1.5;
  color: #424e5b;
}
